# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\neils\OneDrive - Institute of Technology Tralee\Year2\Object Oriented Programming\CAs\OOP_CA2_NeilSebbey\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
